* {
    box-sizing: border-box;
}

body {
    background-color: #FFEDED;
    overflow: hidden;
}

.character {
    position: relative;
    width: 330px;
    height: 400px;
    margin: 100px auto;
    transition: all 0.3s;
}

.face {
    background: #FFC062;
    position: absolute;
    width: 330px;
    height: 330px;
    border-radius: 100%;
    border: 5px solid black;
    bottom: 0;
    z-index: 1;
}

.face-bottom {
    width: 400px;
    height: 200px;
    position: absolute;
    border: none;
    left: -10%;
    z-index: 10;
}

.face-border {
    background: black;
    width: 411px;
    height: 210px;
    left: -11.5%;
    bottom: -5px;
}

.ear {
    background: #FFC062;
    position: absolute;
    width: 86px;
    height: 86px;
    border-radius: 100%;
    border: 5px solid black;
}

.ear-left {
    left: 10%;
    top: 10%;
}

.ear-right {
    left: 60%;
    top: 10%;
}

.eye {
    background: black;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    z-index: 20;
    transition: all 0.3s;
}

.eye-left {
    transform: translate(126px, 200px);
}

.eye-right {
    transform: translate(185px, 200px);
}

.nose {
    background: black;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    z-index: 40;
    transform: translate(156px, 222px);
}

.cheek {
    position: absolute;
    background: white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    z-index: 30;
}

.cheek-left {
    transform: translate(120px, 225px);
}

.cheek-right {
    transform: translate(159px, 225px);
}

.character:hover {
    transform: rotate(360deg) scale(3);
    transition: all 0.3s;
}

.character:hover .eye {
    background: red;
    transition: all 0.3s;
}